.container{
    max-width: 40%;    
}

.head-sec{
    color: #ffffff;
    padding: 10px;
    text-align: right;
}
  
.head-sec-img{
    max-height: 30px;
}

body{
    background-color: rgb(145, 200, 248);
    display: flex;
    justify-content: center;
}

.pg-gray{
    background-color:#DDDDDD;
    margin-top: 100px;
    padding: 20px;
}

.container-level-2{
    padding:  20px;
    margin-top: 150px;
}

.container-level-2 .main-img{
    border-radius: 10%;
    display: block;
    margin-top: -300px;
}
